body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
      width: 80%;
      margin: 0 auto;
}

h1 {
      color: #333;
      text-align: center;
}

label {
      font-weight: bold;
}

select,
input,
button {
      margin-bottom: 10px;
}

select,
input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}

button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
}

button:hover {
      background-color: #45a049;
      font-weight: bold;
}

/* Styles pour la fenêtre de résultats */
.modal-open {
      visibility: hidden;
}

#resultats {
      visibility: visible;
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      max-width: 600px;
      height: auto;
      background-color: #525151;
      color: #fff;
      border-radius: 28px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      padding: 20px;
      z-index: 1000;
      overflow: auto;
      border: #dce4dc 10px solid;
}


@keyframes slideIn {
      from {
            transform: translate(-50%, -60%);
      }
      
      to {
            transform: translate(-50%, -50%);
      }
}
#resultats h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #fff;
}

#resultats table {
      width: 100%;
      border-collapse: collapse;

}

#resultats table td,
#resultats table th {
      border: 1px solid #fff;
      padding: 10px;
      text-align: center;
}

#resultats tr {
      transition: transform 0.3s ease;
      transform: translateY(-8%);
}

#resultats tr:hover {
      transform: scale(1.03);
      cursor: pointer;
}

#resultats .additional-info {
      margin-top: 20px;
      font-style: italic;
      color: #ccc;
}

#resultats .additional-info p {
      margin: 0;
}

.boutonRefresh {
      visibility: visible;
            position: fixed;
                  top: 10%;
                  left: 50%;
                  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

/* Animation pour les champs supplémentaires de l'arc */
#champsArc {
      display: none;
      animation: slideDownArc 1s ease;
}

@keyframes slideDownArc {
      from {
            max-height: 0;
            opacity: 0;
      }

      to {
            max-height: 500px;
            /* Ajustez la valeur selon vos besoins */
            opacity: 1;
      }
}

/* Animation pour les champs supplémentaires du MIG */
#champsMIG {
      display: none;
      animation: slideDownMIG 1s ease;
}

@keyframes slideDownMIG {
      from {
            max-height: 0;
            opacity: 0;
      }

      to {
            max-height: 500px;
            /* Ajustez la valeur selon vos besoins */
            opacity: 1;
      }
}

/* Animation pour les champs supplémentaires du MAG */
#champsMAG {
      display: none;
      animation: slideDownMAG 1s ease;
}

@keyframes slideDownMAG {
      from {
            max-height: 0;
            opacity: 0;
      }

      to {
            max-height: 500px;
            /* Ajustez la valeur selon vos besoins */
            opacity: 1;
      }
}

/* Animation pour les champs supplémentaires du TIG */
#champsTIG {
      display: none;
      animation: slideDownTIG 1s ease;
}

@keyframes slideDownTIG {
      from {
            max-height: 0;
            opacity: 0;
      }

      to {
            max-height: 500px;
            /* Ajustez la valeur selon vos besoins */
            opacity: 1;
      }
}